# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.deb

__pypackages__/

# Test / lint caches
.pytest_cache/
.ruff_cache/

# IDE
.idea

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
